input[type="submit"],button{
    background:url(../images/blue.gif);
    padding-left: 5px;
    padding-right: 5px;
    border:1px solid #51708a;
    line-height:24px;
    height: 24px;
    color:#FFFFFF;
    font-size:12px;
    margin-right:10px;
    display:inline-block;
    text-decoration:none;
    cursor: pointer;
}

.column{
    margin-top: 100px;
    float: left;
    width: 47%;
}

p{
    margin-left: 20px;
}

label{
    font-weight: bold;
}

.error{
    font-size: 11px;
    color: red;
    padding-bottom: 20px;
    margin-top: -5px;
}

input[type="text"],
input[type="file"],
input[type="password"],
select,
textarea{
    margin-top: 10px;
    border: solid 1px #E5E5E5;
    background: #FFFFFF;
    padding: 9px;
    display:block;
    margin-bottom: 20px;
    font-size:16px;
    width:70%;
    background:
        -webkit-gradient(
        linear,
        left top,
        left 25,
        from(#FFFFFF),
        color-stop(4%, #EEEEEE),
        to(#FFFFFF)
        );
    background:
        -moz-linear-gradient(
        top,
        #FFFFFF,
        #EEEEEE 1px,
        #FFFFFF 25px
        );
    -moz-box-shadow: 0px 0px 8px #f0f0f0;
    -webkit-box-shadow: 0px 0px 8px #f0f0f0;
    box-shadow: 0px 0px 8px #f0f0f0;
}